/* General layout */

body {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
}

.x3dElement {
  width:100%;
  height:100%;
  border:0;
  margin:0;
  padding:0;
}